@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nohemi";
  src: local("Nohemi"), 
  url("../src/assets/fonts/Nohemi.woff2"),
  url("../src/assets/fonts/Nohemi.ttf");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), 
  url("../src/assets/fonts/Roboto.woff2"),
  url("../src/assets/fonts/Roboto.ttf");
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-nohemi;
  }
  body {
    @apply font-roboto;
  }
}

.admin-grid {
  --header-height: 50px;
  display: grid;
  grid-template-areas: "header header" "aside content";
  grid-template-columns: 0.15fr 1fr;
  grid-template-rows: var(--header-height) 1fr;
}