@tailwind base;
@tailwind components;
@tailwind utilities;

.admin-grid {
  --header-height: 50px;
  display: grid;
  grid-template-areas: "header header" "aside content";
  grid-template-columns: 0.15fr 1fr;
  grid-template-rows: var(--header-height) 1fr;
}